################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Practical-Tasks/v17
/PracticalTasks/bin/Debug/net7.0
/PracticalTasks/.vs/PracticalTasks
/PracticalTasks/obj/Debug/net7.0
